In [1]:
a={
    "ad":"halil",
    "tc":12345,
    "yer":"denizli"
    }

In [2]:
family = {'name1': 'Andrew',
          'name2': 'Bella',
          'name3': 'Aisha',
          'name4': 'Tom'
          }
dict_by_dict = {'animal': 'dog',
                'planet': 'Neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(), '\n')

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [3]:
school_records = {
    'personal_info':
    {'kid': {'tom': {'class': 'intermediate', 'age': 10},
             'sue': {'class': 'elemantary', 'age': 8}
             },
     'teen': {'joseph': {'class': 'college', 'age': 19},
              'marry': {'class': 'high school', 'age': 16}
              },
     },
    'grades_info':
    {'kid': {'tom': {'math': 88, 'speech': 69},
             'sue': {'math': 90, 'speech': 81}
             },
     'teen': {'joseph': {'coding': 80, 'math': 89},
              'marry': {'coding': 70, 'math': 96}
              },
     }
}

In [4]:
school_records['grades_info']['teen']['joseph']

{'coding': 80, 'math': 89}

In [5]:
list(school_records['grades_info']['teen']['joseph'].items())

[('coding', 80), ('math', 89)]

In [6]:
sorted(school_records.items())

[('grades_info',
  {'kid': {'tom': {'math': 88, 'speech': 69},
    'sue': {'math': 90, 'speech': 81}},
   'teen': {'joseph': {'coding': 80, 'math': 89},
    'marry': {'coding': 70, 'math': 96}}}),
 ('personal_info',
  {'kid': {'tom': {'class': 'intermediate', 'age': 10},
    'sue': {'class': 'elemantary', 'age': 8}},
   'teen': {'joseph': {'class': 'college', 'age': 19},
    'marry': {'class': 'high school', 'age': 16}}})]

In [13]:
school_records.get("grades_info")

{'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}},
 'teen': {'joseph': {'coding': 80, 'math': 89},
  'marry': {'coding': 70, 'math': 96}}}

                                        SET

In [15]:
a=set([1,2,3,4,5])
a

{1, 2, 3, 4, 5}

In [16]:
a.add(6)

In [25]:
b= {1,2,3,4,7,6}

In [21]:
a.difference(b)

{5}

In [22]:
a-b

{5}

In [23]:
b-a

set()

In [26]:
a|b

{1, 2, 3, 4, 5, 6, 7}

In [27]:
a&b

{1, 2, 3, 4, 6}

In [28]:
a=set("pheledalphia")
b=set("dolphin")

In [29]:
a.intersection(b)

{'d', 'h', 'i', 'l', 'p'}

In [30]:
set("11$44/")

{'$', '/', '1', '4'}

In [31]:
a="11/11/2021"
set(a)

{'/', '0', '1', '2'}

In [5]:
a = "19/11/2021"
set(a)

{'/', '0', '1', '2', '9'}

In [51]:
a.split("/")

['19', '11', '2021']

In [20]:
a="ali"
b= set(a)
print(b)
c= tuple("veli")
b.add(c)
b

{'a', 'l', 'i'}

{('v', 'e', 'l', 'i'), 'a', 'i', 'l'}

In [ ]:
email='hl@gmail.com'
passw='hka'

ent_mail=input("gir")
ent_pass=input("gir")